<div class="card text-center">
    <div class="card-header">
        {{ article.category.title }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ article.title }}</h5>
        <div class="d-flex">
            <div>
                {% if article.image %}
                <img src="{{ article.image.url }}" width="300px">
                {% else %}
                <img src="https://st4.depositphotos.com/14953852/24787/v/450/depositphotos_247872612-stock-illustration-no-image-available-icon-vector.jpg" width="300px">
                {% endif %}
            </div>
            <div>
                <p class="card-text">{{ article.content|linebreaks|truncatewords:15 }}</p>
            </div>
        </div>
        <a href="{{ article.get_absolute_url }}" class="btn btn-primary">Batafsil</a>
    </div>
    <div class="card-footer text-body-secondary">
        {{ article.created_at }}
    </div>
</div>